# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/


# Temp
temp/
tmp/
wanghan_test_tmp*/
build/
s3_upload.json
cos_upload.json
dist/
env/
env.back/
!lib/command/env

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store