.github/
coverage/
lib/__tests__
node_modules/

temp/
tmp/
wanghan_test_tmp/
wanghan_test_tmp_back/
data/
build/
dist/
env/
env.back/
!lib/command/env

.gitignore
.eslintignore
jest.config.js
.prettierrc
package-lock.json
